.lap {
  font-size: 4em !important;
  margin-top: 10%;
  color: teal;
}

.lapColor {
  color: teal;
}

.intro {
  height: auto;
  min-height: 100vh;
  text-align: center;
  background-color: teal;
}

.lapBg {
  background: orange;
}



.footerEnd {
  background: #d6d6d6;
  font-size: 18px;
  color: rgb(3, 3, 3);

  span {
    color: rgb(255, 0, 0);
    font-weight: bolder;
  }
}



// asmdklaskdmklasmdlkmsalkdmadmkld 