@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.Ready {
    background: orange;
    color: white;
}

.ReadyFont {
    font-size: 25px;
}

.ReadyFont0 {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: lighter;
}