@import "navbar";
@import "welcome";
@import "owl";
@import "ready";
@import "service";
@import "news";
@import "car";
@import "hover";
@import "count";
@import "footer";
@import "form";
@import "search";
@import "brands";


@import "mediaquery";






* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}



.topNav {
	background: #F2F7F9;

	.socialIcon {
		&:hover {
			color: rgb(255, 0, 0);
			cursor: pointer;

			font-size: 20px;

		}
	}
}

.LogoPos {
	top: -9px;
	margin-left: 2px;

}

// .asqwq {
// 	height: 201px;
// }

.contactBorder {
	border: 1px solid rgb(192, 178, 178);
	border-radius: 25px;

	p {
		padding: 5px 19px;
		text-align: center;
		margin-top: 6px;
	}

	span {
		font-weight: bold;
		color: red;
	}
}

.heartLogo {
	margin-top: 17px;
}

.navbar {
	z-index: 3;
}



.slider-container {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	height: 60vh;
	width: 100vw;
}

.slider-container h2 {
	color: rgb(255, 255, 255);
	font-size: 40px;
	letter-spacing: 3px;
	position: relative;
	z-index: 100;
	// text-align: center;
}



.slider-container h4 {
	color: #fff;
	// letter-spacing: 3px;
	position: relative;
	z-index: 100;
	margin-left: -398px;
	background: rgb(136, 73, 73);
	padding: 4px;
	// text-align: center;
	top: 75px;
}


.slider-container::after {
	background-color: rgb(69, 69, 69);
	content: '';
	position: absolute;
	opacity: 0.4;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.slide {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	height: 100%;
	width: 100%;
	transform: scale(1.15);
	transition: opacity .6s ease;
}

.slide.active {
	animation: grow 4s linear forwards;
	opacity: 1;
}

@keyframes grow {

	0%,
	20% {
		transform: scale(1);
	}

	75%,
	100% {
		transform: scale(1.15);
	}
}

.controls-container {
	position: absolute;
	top: 50%;
	right: 10px;
	display: flex;
	flex-direction: column;
	transform: translateY(-50%);
	z-index: 2;
}

.control {
	background-color: #fff;
	cursor: pointer;
	opacity: 0.5;
	margin: 6px;
	height: 40px;
	width: 5px;
	transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
}

.control.active,
.control:hover {
	background-color: #fff;
	opacity: 1;
	transform: scale(1.2);
}



.brandBox {
	box-shadow: 5px 5px 10px 10px grey;
}

// .lalan {
// 	letter-spacing: 4px;

// }

.offcanvas-top {
	height: 64vh !important;
	background-color: rgb(202, 146, 146) !important;
}